.District .flex-content img{
  width: 100%;
  max-width: 100%;
}

.District .flex-content:first-child, .District .flex-content:last-child{
  width: 100%;
}

@media(min-width: 640px){
  .District .flex-content:first-child{
    width: 60%;
  }
  .District .flex-content:last-child{
    width: 40%;
  }
}
