.FeaturedReport .contents{
  padding: 0px 0px 6px;
}

.FeaturedReport h3, .FeaturedReport p{
  font-weight: normal;
  vertical-align: text-bottom;
}

.FeaturedReport h3.title {
  line-height: 1em;
} 

.FeaturedReport p.details {
  font-size: .9em;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

