.FeaturedArticle .contents{
  padding: 0px 0px 6px;
}

.FeaturedArticle h3, .FeaturedArticle p{
  font-weight: normal;
  vertical-align: text-bottom;
}

.FeaturedArticle h3.title {
  line-height: 1em;
} 

.FeaturedArticle p.details {
  font-size: .9em;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}

