.ArticleCard .contents{
	padding: 0px 9px 6px;
}

.ArticleCard h3, .ArticleCard p{
	font-weight: normal;
	vertical-align: text-bottom;
}

.ArticleCard h3.title {
	line-height: 1em;
} 

.ArticleCard p.details {
	font-size: .9em;
	line-height: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}

.ArticleCard .tags {
	padding: 0px 12px 12px 12px;
}

.ArticleCard .tag {
	font-size: .8em;
	font-weight: bold;
	/* tertiary-color */
	border: 1px solid #d1212e;
	background-color: #d1212e;
	color: white;
	font-weight: bold;
	padding: 1px 4px;
	margin: 0 8px 8px 0;
	transition: background-color 0.5s ease-out;
}

.ArticleCard .tag:hover {
	background-color: #ff0013;
}