.ArticleCard .contents {
  padding: 0px 6px 6px;
}

.ArticleCard h3,
.ArticleCard p {
  font-weight: normal;
  vertical-align: text-bottom;
}

.ArticleCard h3.title {
  line-height: 1em;
}

.ArticleCard p.details {
  font-size: 0.9em;
  line-height: 1em;
  margin-bottom: 0;
  padding-bottom: 0;
}
