.BasicCard {
/*	font-size: .67em;*/
}

.BasicCard .contents{
	padding: 0px 12px 12px;
}

.BasicCard h3, .BasicCard p{
	vertical-align: text-bottom;
}

.BasicCard h3.title {
	font-weight: bold;
	line-height: 1em;
	text-align: center;
} 

.BasicCard p {
	font-weight: normal;
	font-size: 1.17em;
	line-height: 1em;
	margin-bottom: 0;
	padding-bottom: 0;
}
