.Candidate .brief-info , .Candidate .headshot{
	display: inline-block;
	vertical-align: top;
}

.Candidate .brief-info {
	width: calc(100% - 220px);
	margin-right: 18px;
}

.Candidate .headshot {
	width: 200px;
}

@media (max-width: 767px) {
	.Candidate .brief-info {
		width: 100%;
		margin-right: 0px;
	}

	.Candidate .headshot {
		width: 100%;
	}
}