.NavBar {
  padding-top: 6px;
}

.NavBar nav{
  width: calc(100% - 200px);
  text-align: right;
}

.NavBar .logo, .NavBar nav{
  display: inline-block;
  height: 48px;
  vertical-align: bottom;
}

.NavBar nav a{
  padding-top: 22px;
  display: inline-block;
  margin: 0px 0px 0px 18px;
  text-decoration: none;
  color: #216bb4;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.NavBar a:first-child{
  margin-left: 9px;
}

.NavBar a:hover{
  /*  216bb4's rgb is (33,107,180); */
  color: rgba(33,107,180, 0.75);
}

.NavBar a.selected{
  color: #18467e;
  border-bottom: 2px solid #d1212e;
}

.NavBar a.selected:hover{
  /* 18467e's rgb is (24, 70, 126) */
  color: rgba(24, 70, 126, 0.75);
}


@media (min-width: 1200px) {
  .NavBar nav{
    width: calc(100% - 267px);
  }

  .NavBar .logo, .NavBar nav{
    height: 64px;
  }

  .NavBar nav a{
    padding-top: 38px;
    margin: 0px 0px 0px 24px;
  }
}
