.NavDrawer a, .NavDrawer a:hover {
  text-decoration: none;
}

.NavDrawer a div span div div {
  color: #216bb4;
  font-weight: bolder;
}

.NavDrawer a div{
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.NavDrawer a:hover div span div div {
  /*  216bb4's rgb is (33,107,180); */
  color: rgba(33,107,180, 0.75);
}

.NavDrawer a div{
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
}

.NavDrawer a.selected div span div div {
  color: #18467e;
}

.NavDrawer a.selected:hover div span div div {
  /* 18467e's rgb is (24, 70, 126) */
  color: rgba(24, 70, 126, 0.75);
}

.NavDrawer a.selected div {
  border-left: 2px solid #d1212e;;
  border-right: 2px solid #d1212e;;
}

