.Nav {
  display: block;
  text-align: center;
  border-top: 1px solid #01369B;
  border-bottom: 1px solid #01369B;
  padding: 8px 0;
  margin: 32px 0;
}

.Nav a {
	font-weight: bold;
	color: #006EED;
}

.Nav a:hover, .Nav a.selected{
	color: #003698;
}

.Nav a.selected:hover{
	color: #0052C3;
}

@media(min-width: 641px){
  .Nav a {
    margin: 0 10px;
  }
}

@media(max-width: 640px){
  .Nav{
    margin: 32px 0 8px 0;
  }
  .Nav a {
    max-width: 25%;
    /*display: ;*/
    margin: 0 8px;
  }
}