.TwitterTimeline {
	position: relative;
	height: 600px;
	margin-bottom: 24px;
}

.TwitterTimeline > div{
	position: absolute;
}

.TwitterTimeline .mask{
	bottom: 0;
	left: 0;
	height: 40px;
	width: 50%;
	z-index: 5;
	background-color: white;
}
