/* Custom styles */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #01369B;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
}

h1, h2, h3, h4, h5, h6, svg text {
  color: #01369B;
}

p, li {
  color: #656565;
}

a, a h1, a h2, a h3, a h4, a h5, a h6, a p {
  color: rgba(0, 110, 237, 0.75);
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:hover, a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6, a:hover p {
  color: rgba(0, 110, 237, 1);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  background-color: rgba(183, 28, 28, 0.2);
  color: rgba(183, 28, 28, 1);
}

.full-width {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

.social-icons-space {
  margin: 4vw 0 2vw;
}

.social-icon {
  margin: 0px 8px;
}

.social-icon:first-child {
  margin-left: 0px;
}

.social-icon:last-child {
  margin-right: 0px;
}

.splash-image {
  width: 100%;
  padding: 24px 0px;
}

.hidden-xs-up {
  display: none !important;
}



/* Bootstrap 4 grid */

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.img-fluid{max-width:100%;width:100%;height:auto}



/*body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 1em;
  background-color: #ffffff;
  min-height: 100vh;
  color: #01369B;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

.row: {
  width: 100%;
}

img{
  width: 100%;
}

.half{
  width: 47%;
  margin-right: 2%;
  display: inline-block;
}

@media(max-width: 640px){
  .half{
    width: 100%;
    margin: 0px;
    display: block;
  }
}

.two-thirds{
  width: 66%;
  display: inline-block;
  vertical-align: top;
}

.one-third{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

@media(min-width: 768px){
  body{
    margin: 0px 5vw;
  }
}


.main-and-aside{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

.Main {
  width: calc(100% - 350px);
}

aside {
  margin-left: 24px;
  width: 300px;
}

.hide-on-small {
  display: inherit;
}
.show-on-small {
  display: none;
}
*/

/* mobile */
/*@media only screen  and (max-width: 640px){
  h1, h2, h3, h4, h5, h6, p, li, svg text {
    padding: 8px;
  }

  .main-and-aside{
    display: block;
  }

  .Main {
    width: 100%;
  }

  aside {
    margin: 0px;
    width: 100%;
    padding: 12px 0px;
  }

  .hide-on-small {
    display: none;
  }

  .show-on-small {
    display: inherit;
  }
}
*/
