body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
  font-size: 1em;
  background-color: #ffffff;
  min-height: 100vh;
  color: #01369B;
}

h1, h2, h3, h4, h5, h6, p, li, svg text {
  color: #01369B;
}

a {
  color: #006EED;
  text-decoration: none;
  transition: color 0.5s ease-out;
}

a:hover {
	color: #43B3E0;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

.row: {
  width: 100%;
}

img{
  width: 100%;
}

.half{
  width: 47%;
  margin-right: 2%;
  display: inline-block;
}

@media(max-width: 640px){
  .half{
    width: 100%;
    margin: 0px;
    display: block;
  }
}

.two-thirds{
  width: 66%;
  display: inline-block;
  vertical-align: top;
}

.one-third{
  width: 33%;
  display: inline-block;
  vertical-align: top;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.social-icon {
  margin-right: 8px;
}

@media(min-width: 768px){
  body{
    margin: 0px 5vw;
  }
}


.main-and-aside{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
  justify-content: space-between;
}

.Main {
  width: calc(100% - 350px);
}

aside {
  margin-left: 24px;
  width: 300px;
}

.hide-on-small {
  display: inherit;
}
.show-on-small {
  display: none;
}


/* mobile */
@media only screen  and (max-width: 640px){
  h1, h2, h3, h4, h5, h6, p, li, svg text {
    padding: 8px;
  }

  .main-and-aside{
    display: block;
  }

  .Main {
    width: 100%;
  }

  aside {
    margin: 0px;
    width: 100%;
    padding: 12px 0px;
  }

  .hide-on-small {
    display: none;
  }

  .show-on-small {
    display: inherit;
  }
}
