/* Custom styles */

body {
  font-family: 'Open Sans', Arial, sans-serif;
  color: #18467e;
}

section {
  padding-top: 24px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: .5rem;
}

h1, h2, h3, h4, h5, h6, svg text, .primary-text-color {
  color: #18467e;
}

/*.primary-text-color {
  color: rgb(26, 35, 126);
}

.secondary-text-color {
  rgb(26, 35, 126)
}
*/

.tertiary-text-color {
  color: #d1212e;
  transition: color 0.5s ease-out;
}

a .tertiary-text-color:hover {
  /*  d1212e's rgb is (209, 33, 46); */
  color: rgba(209, 33, 46, 0.75);
}


p, li, .default-text-color {
  color: #444;
  line-height: 20px;
}

a, a h1, a h2, a h3, a h4, a h5, a h6, a p, .secondary-text-color {
  color: #216bb4;
  text-decoration: none !important;
  transition: color 0.5s ease-out;
}

a:hover, a:hover, a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6, a:hover p {
  /*  216bb4's rgb is (33,107,180); */
  color: rgba(33,107,180, 0.75);
}


.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.error {
  background-color: rgba(183, 28, 28, 0.2);
  color: rgba(183, 28, 28, 1);
}

.full-width {
  width: 100%;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-wrap {
  -webkit-flex-flow: wrap;
  flex-flow: wrap;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-space-between{
  justify-content: space-between;
}

.social-icons-space {
  margin: 4vw 0 2vw;
}

.social-icon {
  margin: 0px 8px;
}

.social-icon:first-child {
  margin-left: 0px;
}

.social-icon:last-child {
  margin-right: 0px;
}

.splash-image {
  width: 100%;
  padding: 24px 0px;
}

.hidden-xs-up {
  display: none !important;
}



/* Bootstrap 4 grid */

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}

.img-fluid{max-width:100%;width:100%;height:auto}
